<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>

    <!-- INICIO PARAMETROS DE WEBAPI.CLIENT -->

    <!-- Urls/Names/Types -->
    <add key="UrlApi" value="http://localhost:41725" />
    <add key="ContentType" value="application/json" />

    <!-- Métodos -->
    <add key="ListarAnimais" value="/api/v1/Animal/Listar" />
    <add key="Animal" value="/api/v1/Animal" />

    <add key="ListarPecuaristas" value="/api/v1/Pecuarista/Listar" />
    <add key="Pecuarista" value="/api/v1/Pecuarista" />

    <add key="CompraGado" value="/api/v1/CompraGado" />
    <add key="ListarCompras" value="/api/v1/CompraGado/Listar" />

    <!-- FINAL PARAMETROS DE WEBAPI.CLIENT -->

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>